/* Basic styling for the card */
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    width: 80%;
    margin: auto;
}
.container-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 25px;
}
.value{
    color: #6a59ff;
    font-size: 30px;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    width: 100px;
    height: 130px;
    width:25%;
    margin: 10px;
    cursor: pointer;
    background-color: #fbc7d4;
    border-radius: 15px;
  }
  .card-image{
    width:25%;
  }